<p id="notice"><%= notice %></p>

<p>
  <strong>Ayd2 detalle decimal:</strong>
  <%= @detalle.ayd2_detalle_decimal %>
</p>

<p>
  <strong>Ayd2 detalle descripcion:</strong>
  <%= @detalle.ayd2_detalle_descripcion %>
</p>

<p>
  <strong>Ayd2 detalle date:</strong>
  <%= @detalle.ayd2_detalle_date %>
</p>

<p>
  <strong>Ayd2 detalle datetime:</strong>
  <%= @detalle.ayd2_detalle_datetime %>
</p>

<p>
  <strong>Ayd2 detalle timestamp:</strong>
  <%= @detalle.ayd2_detalle_timestamp %>
</p>

<p>
  <strong>Ayd2 detalle boolean:</strong>
  <%= @detalle.ayd2_detalle_boolean %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @detalle.ayd2_categoria_id %>
</p>

<%= link_to 'Edit', edit_detalle_path(@detalle) %> |
<%= link_to 'Back', categorium_path(@detalle.ayd2_categoria_id) %>
