<p id="notice"><%= notice %></p>

<h1>Categoria</h1>

<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categoria.each do |categorium| %>
      <tr>
        <td><%= categorium.ayd2_categoria_descripcion %></td>
        <td><%= link_to 'Ver', categorium %></td>
        <td><%= link_to 'Editar', edit_categorium_path(categorium) %></td>
        <td><%= link_to 'Eliminar', categorium, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Categoria', new_categorium_path %>
