<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @categorium.ayd2_categoria_descripcion %>
</p>


<h2>Detalles</h2>
 <table style="width:80%">
  <tr>
    <th>Decimal</th>
    <th>Descripcion</th>
    <th>Date</th>
    <th>DateTime</th>
    <th>Timestamp</th>
    <th>Boolean</th>
    <th>Operaciones</th>
  </tr>
<% @categorium.detalles.each do |detalle| %>
  <tr>
    <td><%= detalle.ayd2_detalle_decimal %></td>
    <td><%= detalle.ayd2_detalle_descripcion %></td>
    <td><%= detalle.ayd2_detalle_date %></td>
    <td><%= detalle.ayd2_detalle_datetime %></td>
    <td><%= detalle.ayd2_detalle_timestamp %></td>
    <td><%= detalle.ayd2_detalle_boolean %></td>
    <td>
        <%= link_to 'Ver', detalle %>
        <%= link_to 'Editar', edit_detalle_path(detalle) %>
        <%= link_to 'Eliminar', detalle, method: :delete, data: { confirm: 'Esta seguro?' } %>
    </td>
  </tr>
<% end %>
</table> 


<%= link_to 'Nuevo Detalle', new_detalle_path(:categoria => @categorium.ayd2_categoria_id) %> |

<%= link_to 'Edit', edit_categorium_path(@categorium) %> |
<%= link_to 'Back', categoria_path %>
